
build/
bin/
obj/
*.o
*.a
*.la
*.lo
*.so
*.so.*
*.dll
*.dylib
*.exe
server_app
unit_tests

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store


external/**/build/
external/**/bin/

*.log
.cache/


